<h2> You chose: </h2>
<h2><%= @choice %> </h2>
<h2> The computer chose: </h2>
<h2><%= @play %></h2> 
<h2><%= @result %></h2> 
<br>
<%= link_to "Play Again", rps_game_url %>
<%= link_to "Main Menu", main_menu_url %>